Week_05/springbean/src/main/resources/META-INF/student.xsd

<xsd:schema
        xmlns="http://liq.xml.com/school/schema/student"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://liq.xml.com/school/schema/student">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="student">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="age" type="xsd:int"/>
                    <xsd:attribute name="name" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
